{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <h3>
            <div class="container-fluid mx-auto border sticky-top">
                <nav class="nav nav-pills nav-justified d-flex justify-content-center navbar-light bg-warning">
                    <a class="nav-link" href="{% url 'hardware_list' %}">Resolve Hardware Issues</a>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#otherOperations" aria-controls="offcanvasScrolling">Other Operations</button>
                    <a class="nav-link" href="{% url 'software_list' %}">Resolve Software Issues</a>
                </nav>
            </div>
        </h3>
        {% include 'otherOperations.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>