{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
       
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#otherOperations" aria-controls="offcanvasScrolling">Other Operations</button>
        </div>
        <br>
        <div style="text-align: center;">
            {% if not hardware_exist %}
                <h2>No hardware available to assign an issue.</h2>
            {% endif %}
            {% if not software_exist %}
                <h2>No software available to assign an issue.</h2>
            {% endif %}
        </div>
        {% include 'otherOperations.html' %}
        <form class ="d-flex  flex-column align-items-center gap-2" method="post" autocomplete="off" enctype="multipart/form-data">
            <br>
            {% csrf_token %}
            {{form.as_table}}
            <br>
            <button type="submit" class="btn btn-primary" value="Save">Save Issue</button>
        </form>
    </body>
</html>
