
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="otherOperations" aria-labelledby="otherOptionsTitle">
    <div class="d-flex justify-content-center">
        <a href="{% url 'base_view' %}" class="btn btn-primary" >Home</a>
    </div>
    <div class="offcanvas-header">
        <br>
        <h5 class="offcanvas-title" id="otherOptionsTitle">Select other operations.</h5>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Make a selection:</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'enter_new_issue'%}">Enter new Issue.</a></li>
                <li><a class="dropdown-item" href="{% url 'display_issues_without_res'%}">Enter new Resolution.</a></li>
                <li><a class="dropdown-item" href="#">Technical Knowledgebase </a></li>
            </ul>
        </div>
    </div>
</div>
