{% extends "base.html" %}
{% block title %}Hardware{% endblock %}

{% block content %}
<h1 style="text-align: center;">HARDWARE</h1>
<div class="d-flex justify-content-center align-items-center container-fluid mt-4">
    <div class="dropdown dropdown-center">
        <button type="button" autofocus class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Select Hardware to troubleshoot
        </button>
            <ul class="dropdown-menu">     
                {% for hardware in hardware_devices %}           
                    <li><a class="dropdown-item text-center " href="{% url 'show_hardware_issues' hardware.id %}">{{hardware.hardware_device}}</a></li>
                {% endfor %}
            </ul>
        </button>
    </div>
</div>
{% endblock %}  