{% extends "base.html" %}
{% block title %}Software{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center container-fluid mt-4">
    <h1>Software</h1>
    <div class="dropdown">
        <button type="button" autofocus class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Select software to troubleshoot.</button>
        <ul class="dropdown-menu">
            {% for software in software_products %}
                <li><a class="dropdown-item" href="{% url 'software_issues' software.id %}">{{software.software_product}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
