{% extends "base.html" %}
{% block title %}TekSolve{% endblock %}

{% block content %}

    {% if resolution_to_issue %}
        <div class="d-flex justify-content-center">
            <div class="card w-75 card text-center">
                <div class="card-header">
                    <h5 class="card-title">{{issue_selected.hardware}} <br>Reported on: {{issue_selected.date_reported}}
                        <br>Reported issue: {{issue_selected.reported_issue}}
                    </h5>
                </div>
                <div class="card-body">
                    <h1>Resolution:</h1>
                    <h3>{{resolution_to_issue}}</h3>
                    <img src="{{issue_selected.resolution_pic.url}}"></img>
                </div>
                <div class="card-footer">
                    <a href="{% url 'show_hardware_issues' hardware_selected %}" class="btn btn-primary">Back to other {{issue_selected.hardware}} reported issues.</a>
                </div>
            </div>
        </div>
    {% else %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
            var myModal = new bootstrap.Modal(document.getElementById('noResolutionModal'));
            myModal.show();});
        </script>

        <div class="modal fade" style="display: block;" data-bs-backdrop='static' data-bs-keyboard='false' id="noResolutionModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-align: centerwhy ">The issue below currently does not have a resolution.</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-break">{{issue_selected}}</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center ">
                        <a  class="btn btn-primary" href="{% url 'show_hardware_issues' hardware_selected %}">Back to other {{issue_selected.hardware}} reported issues.</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}