{% extends "base.html" %}
{% block title %}{{hardware_devices.hardware_device}}{% endblock %}

{% block content %}
    <h4 style="text-align: center;">Reported issues with:%nbsp<span style="text-decoration: underline;">{{software_product.software_product}}</span></h4>
    {% if software_product %}
        {% for issues in issues_list %}
            <div>
                <br>
                <a href="#c{{issues.id}}" style="text-decoration: none;" class="btn=outline-danger" data-bs-toggle="collapse">{{issues.reported_issue}}<small>(Reported on: {{issues.date_reported}})</small></a>
                <br>
                <div class="collapse" id="c{{issues.id}}">{{issues.reported_resolution}}
                    <br>
                    <a class = "nav-link" href="{% url 'show_software_resolution' issues.id %}" style="color:green">View Detail Steps:</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <h1 style="text-align: center;">No reported issues.</h1>"
    {% endif %}
{% endblock %}